<div class="container__big-card">
    <div class="big-card__photo">
        <img
            src="https://i.pinimg.com/564x/aa/5b/52/aa5b524117299a392f07483189141ec0.jpg"
            alt=""
        >
    </div>
    <div class="big-card__title">
        <h1>
            <a href="#">Saiu uma nova versão do angular</a>
        </h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio eaque error quis autem repellendus, laborum adipisci fugiat esse vero facilis earum odit cum, ex praesentium.
            </a>
        </p>
    </div>
</div>
