<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img
                src="https://i.pinimg.com/564x/6a/e1/ea/6ae1ea50be76c8721a793fcfbf7455e2.jpg"
                alt
            >
        </div>
        <div class="small-card__title">
            <h1>
                <a href="#">Saiu uma nova versão do angular</a>
            </h1>
        </div>
    </div>
    <div class="container__small-card-separator">
        <hr>
    </div>

</div>
